[run]
source =
    backend
omit =
    backend/routes/*
    backend/tests/*
    backend/new_tests/*
    backend/schema/*
    backend/domain/*
    backend/**/__init__.py
    backend/main.py
    tests/*
    new_tests/*
    routes/*
    schema/*
    domain/*
    **/__init__.py
    main.py

[report]
show_missing = true
omit =
    backend/routes/*
    backend/tests/*
    backend/new_tests/*
    backend/schema/*
    backend/domain/*
    backend/**/__init__.py
    backend/main.py
    tests/*
    new_tests/*
    routes/*
    schema/*
    domain/*
    **/__init__.py
    main.py

[html]
directory = backend/htmlcov
